.banner {
  position: relative;

  .bg-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  .content {
    font-family: UTM BryantLG;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);

    .tittle {
      color: $dark-blue;
      font-weight: 400;
      font-size: 3.74vw;
      line-height: 4.24vw;
    }

    .text {
      color: #505353;
      margin: 20px 0;
      font-size: 1.389vw;
      line-height: 1.7vw;
    }

    .button {
      color: #fff;
      font-weight: 700;
      background-color: #b2d235;
      border-radius: 35px;
      box-shadow: 0 -5px #94af2b;
      line-height: 2.56vw;
      font-size: 2.083vw;
      border: 0;
      padding: 1.18vw 3.89vw;
    }
  }
}

.banner .tittle span {
  display: flex;
  align-items: center;

  img {
    height: 100%;
  }
}

.banner::before {
  position: absolute;
  bottom: -115px;
  display: block;
  content: "";
  width: 100%;
  height: 115px;
  background-image: linear-gradient(0, #e7e9ee, #fff);
}

.banner .tittle {
  span {
    font-weight: 700;
  }
}

@media (min-width: 770px) {
  .banner {
    position: relative;

    .bg-banner {
      background-image: url("/images/hapo_learn_banner_pc.png");
      padding-top: 45.486%;
    }

    .content {
      position: absolute;
    }
  }
}

@media (max-width: 770px) and (min-width: 440px) {
  .banner {
    position: relative;

    .bg-banner {
      background-image: url("/images/hapo_learn_banner_pc.png");
      padding-top: 49.415%;
    }

    .content {
      position: absolute;
      left: 27px;

      .tittle {
        font-size: 3.9vw;
        line-height: 3.478vw;
      }

      .text {
        font-size: 2.08vw;
        line-height: 2.55vw;
      }

      .button {
        font-size: 2.08vw;
        line-height: 2.55vw;
        border: 0;
        padding: 1.04vw 3.9vw;
      }
    }
  }

  .banner {
    .content {
      .tittle-img {
        width: 40px;
      }
    }
  }
}

@media (max-width: 440px) {
  .banner {
    display: flex;
    flex-direction: column;

    .bg-banner {
      background-image: url("/images/hapo_learn_banner_pc.png");
      padding-top: 45.558%;
    }

    .content {
      margin: 110px 0 0 60px;
      display: flex;
      flex-direction: column;

      .tittle {
        font-size: 5.68vw;
        line-height: 6.07vw;
      }

      .text {
        font-size: 3.64vw;
        line-height: 4.46vw;
      }

      .button {
        font-size: 4.09vw;
        line-height: 4.45vw;
        border: 0;
        padding: 2.27vw 14.77vw;
        align-self: center;
      }
    }
  }

  .banner {
    .content {
      .tittle-img {
        width: 34px;
      }
    }
  }

  .banner::before {
    height: 200px;
    bottom: 60px;
  }
}

@media (max-width: 250px) {
  .banner {
    .content {
      margin: 66px 0 0 20px;

      .tittle-img {
        width: 20px;
      }
    }

    &::before {
      bottom: -14px;
    }
  }
}
