.bg-dark-blue {
  background-color: #3f6185;
}

.bg-red {
  background-color: #dc594c;
}

.bg-violet {
  background-color: #556598;
}

.container {
  padding: 10px 5px;
}

.list-top {
  display: flex;
  margin-bottom: 60px;
  z-index: 1;

  .list-title {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 80px;
    font-weight: 700;
    color: $dark-blue;
    font-family: "UTM BryantLG";
    line-height: 95px;
  }

  .list-title::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 6px;
    background-color: $green;
    bottom: -16px;
    border-radius: 3px;
  }
}

.course {
  margin: 0 10px;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
  font-family: "UTM BryantLG";

  .img {
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    .card-img {
      width: 100%;
      height: 100%;
    }
  }

  .card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

.card-body {
  text-align: center;
  display: flex;
  flex-direction: column;

  .card-top {
    margin-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .card-title {
      margin: 20px 0;
      font-size: 30px;
      font-weight: 700;
      color: $green;
      display: -webkit-box;
      max-height: 3.2rem;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 2;
      line-height: 1.6rem;
    }

    .card-text {
      text-align: justify;
      font-size: 14px;
      font-weight: 700;
      color: #505353;
      margin-top: auto;
      display: -webkit-box;
      max-height: 6.4rem;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 4;
      line-height: 1.6rem;
    }
  }

  .card-bot {
    margin-top: 10px;

    .btn {
      background-color: $green;
      border: 0;
      border-radius: 22px;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      padding: 8px 30px;
      margin-top: auto;
      min-width: 190px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.list-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $green;
  font-family: "UTM BryantLG";
  margin: 60px 0;

  .text {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: $green;
  }

  .icon {
    font-size: 30px;
    padding-left: 10px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .course {
    .img {
      height: 164px;
    }

    .card-body {
      padding: 0 15px 25px 15px;

      .card-top .card-title {
        font-size: 25px;
      }

      .card-bot .btn {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 769px) and (min-width: 440px) {
  .list-top {
    .list-title {
      font-size: 50px;
    }

    .list-title::before {
      bottom: 4px;
    }
  }

  .course {
    display: flex;
    flex-direction: row;

    .img {
      width: 198px;
      height: 164px;
    }

    .card-body {
      padding-top: 10px;
      padding-bottom: 0;
      flex: 1;

      .card-title,
      .card-text,
      .btn {
        font-weight: 400;
      }

      .card-title,
      .card-text {
        text-align: left;
      }

      .card-title {
        font-size: 20px;
        padding: 0;
      }

      .card-text {
        font-size: 14px;
        line-height: 18px;
      }

      .btn {
        font-size: 14px;
        text-align: right;
        padding: 4px 10px;
        transform: translate(38%, -6px);
      }
    }
  }

  .course+.course {
    margin-top: 32px;
  }

  .list-bot {
    margin-top: 22px;

    .text {
      font-size: 28px;
      font-weight: 700;
    }

    .icon {
      font-size: 20px;
      padding-left: 10px;
    }
  }
}

@media (max-width: 570px) and (min-width: 440px) {
  .card-body .card-top .card-title {
    margin: 10px 0;
  }

  .container {
    width: 100%;
  }
}

@media (max-width: 439px) {
  .card-body .card-top .card-title {
    margin: 10px 0;
  }

  .list-top {
    margin-bottom: 84px;

    .list-title {
      font-size: 50px;
    }

    .list-title::before {
      bottom: 4px;
    }
  }

  .list-course {
    transform: translateY(-56px);
  }

  .course {
    margin: 0 54px;

    .img {
      height: 164px;
    }

    .card-body {
      padding: 0 15px 25px 15px;

      .card-title {
        font-size: 20px;
      }

      .card-bot .btn {
        font-size: 14px;
      }
    }
  }

  .course+.course {
    margin-top: 30px;
  }

  .list-bot {
    margin-top: 22px;

    .text {
      font-size: 22px;
      font-weight: 700;
    }

    .icon {
      font-size: 16px;
      padding-left: 10px;
    }
  }
}

@media (max-width: 300px) {
  .list-top .list-title {
    font-size: 30px;

  }

  .course {
    margin: 0 25px;

    .img {
      height: 100px;
    }

    .card-bot .btn {
      padding: 8px 10px;
    }
  }
}
