footer {
  padding-top: 46px;
  background-color: $text;

  .text-bottom {
    background-color: $gray-dark;
    color: white;
  }

  img {
    width: 100%;
  }

  .social {
    display: flex;
    margin-bottom: 12px;
    gap: 34px;

    .social-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 50px;
      height: 50px;
      background-color: white;
      color: $text;
      border-radius: 50%;
      font-size: 24px;
    }
  }

  .link {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  footer {
    .social {
      .social-item {
        font-size: 20px;
      }
    }

    .link {
      font-size: 16px;
    }
  }

}

@media (max-width: 768px) {
  footer {
    padding-top: 1px;

    .link {
      display: none;
    }

    .footer-intro,
    .footer-social {
      margin-top: 10px;
      order: 1;
    }

    .footer-text {
      text-align: left;
    }
  }
}

@media (max-width: 560px) {
  footer {
    .social {
      gap: 14px;

      .social-item {
        font-size: 16px;
      }
    }

    .footer-intro {
      order: 0;

      p {
        display: none;
      }
    }

    .footer-social {
      display: none;
    }
  }
}

@media (max-width: 250px) {
  footer {
    .footer-text,
    .text-bottom {
      font-size: 12px;
    }
  }
}
