footer {
  padding-top: 46px;
  background-color: $text;

  img {
    width: 100%;
  }

  .social {
    display: flex;
    margin-bottom: 12px;

    .social-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 50px;
      height: 50px;
      background-color: white;
      color: $text;
      border-radius: 50%;
      font-size: 24px;
    }

    .social-item + .social-item {
      margin-left: 34px;
    }
  }

  .link {
    font-size: 20px;
  }
}

.content-mobile {
  display: none;
}

@media (max-width: 576px) {
  .content {
    display: none;
  }

  .content-mobile {
    display: block;

    img {
      width: 150px;
    }

    .text {
      font-size: 14px;
    }

    .social {
      display: flex;
      justify-content: center;
      margin-bottom: 12px;

      .social-item {
        width: 30px;
        height: 30px;
        font-size: 18px;
      }

      .social-item + .social-item {
        margin-left: 18px;
      }
    }

    .link {
      display: none;
    }
  }
}
