.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: $green;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-13 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-13 input[type="checkbox"]:checked+.toggler-slider .toggler-knob:after {
  content: 'vn';
}

.toggler-wrapper.style-13 .toggler-knob {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
  box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
}

.toggler-wrapper.style-13 .toggler-knob:after {
  content: 'en';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 80%;
  text-transform: uppercase;
  font-weight: 900;
  color: green;
}

.main-header {
  position: relative;
  border-bottom: 4px solid #f5f5f5;
  font-family: "UTM BryantLG";
}

.navbar {
  display: flex;
}

.navbar-brand {
  padding-left: 44px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px !important;
  align-items: center;
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

.nav-item {
  border-radius: 17px;
  overflow: hidden;
  display: block;
}

.nav-item--login {
  display: flex;
  align-items: center;

  .nav-link {
    padding: 0 !important;
  }
}

.nav-item+.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  padding: 5px 12px !important;
  color: #505353 !important;
}

.nav-item.active .nav-link {
  background-color: #b2d235;
  color: #fff !important;

  &:hover {
    opacity: 0.8;
  }
}

.logo-image {
  transform: translateY(-6px);
}

.btn-login {
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  color: #fff !important;
}

.nav-item--logout {
  margin-left: 10px;
}

@media (max-width: 1020px) and (min-width: 990px) {
  .nav-link {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 11px;
  }

  .navbar-nav {
    .nav-item {
      width: 100%;
    }

    .nav-item+.nav-item {
      margin-left: 0;
    }

    form {
      width: 100%;

      .btn {
        width: 100%;
      }
    }
  }

  .logo-image {
    width: 224px;
    height: 50.81px;
  }
}

@media (max-width: 439px) {
  .logo-image {
    width: 150px;
    height: 26.75px;
  }

  .navbar {
    display: flex;
    z-index: 2;
  }
}


@media (max-width: 250px) {
  .logo-image {
    width: 84%;
    height: 30%;
  }

  .navbar {
    .navbar-toggler {
      padding: 2px;
      font-size: 18px;
    }
  }
}
