.statistic {
  margin: 32px 0 64px 0;
}

.statistic-top {
  text-align: center;

  .title {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 80px;
    font-weight: 700;
    color: $dark-blue;
    font-family: "UTM BryantLG";
    line-height: 95px;
  }

  .title::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 6px;
    background-color: $green;
    bottom: -16px;
    border-radius: 3px;
  }
}

.statistic-main {
  margin-top: 32px;
  padding: 0 12% 0 12%;
  font-family: "UTM BryantLG";

  .statistic-item {
    text-align: center;

    .statistic-name {
      color: $text;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: -0.05em;
    }

    .statistic-number {
      color: $green;
      font-size: 60px;
      font-weight: 700;
    }
  }
}

@media (max-width: 500px) {
  .statistic-top {
    .title {
      font-size: 50px;
    }

    .title::before {
      bottom: 4px;
    }
  }

  .statistic-main {
    .statistic-item {
      .statistic-name,
      .statistic-number {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 200px) {
  .statistic-top {
    .title {
      font-size: 30px;
    }
  }

  .statistic-main {
    .statistic-item {
      .statistic-name,
      .statistic-number {
        font-size: 25px;
      }
    }
  }
}
