.why-hapolearn {
    background-image: url("/images/why-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 20px 0;
}

.why-item {
    display: flex;
}