$body-bg: #f8fafc;
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$green: #b2d235;
$green2: #90ab26;
$dark-blue: #11114e;
$text: #505353;
$gray-dark: #454545;

@font-face {
  font-family: 'UTM BryantLG';
  src: url('/fonts/UTM_BryantLG.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'UTM BryantLG';
  src: url('/fonts/UTM_BryantLG_B.ttf');
  font-weight: 700;
  font-style: normal;
}

main {
  min-height: 54vh;
}
