.course-filter .main {
  display: flex;
  gap: 14px;

  .btn {
    font-weight: 700;
    font-size: 15px;
  }

  .btn-filter {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: white;
    border: 1px solid $bg-c4;
    color: $text;

    .icon-filter {
      font-size: 14px;
    }
  }

  .btn-search {
    background-color: $green;
    border: 1px solid $green;
    color: white;
  }

  .search {
    width: 30%;
    position: relative;

    input {
      padding-right: 40px;
    }

    .icon-search {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $text;
    }
  }
}

.course-filter .sub {
  display: none;
  align-items: center;
  margin-top: 14px;
  background-color: white;
  padding: 14px;
  border: 1px solid $bg-c4;
  border-radius: 5px;

  .title {
    display: inline-block;
    color: $text;
    margin-right: 14px;
    font-weight: 700;
  }

  .group {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .btn {
      background-color: $bg-e5;
      border-radius: 2px;
      color: $text;
      border: 0;
      outline: 0;
      margin-bottom: 0;
    }

    .btn.active {
      background-color: $green;
      color: white;
    }

    .item {
      width: 177px;
      color: $text;
    }

    input[type="radio"] {
      display: none;
    }
  }
}

.course-filter.active .sub {
  display: flex;
}

.select {
  position: relative;
  padding: 5px;
  min-width: 150px;
  border: 1px solid $bg-e5;
  background-color: white;
  cursor: pointer;
}

@media (max-width: 470px) {
  .course-filter .main {
    flex-wrap: wrap;

    .search {
      flex: 1;
      order: 1;
      flex-basis: 100%;
    }
  }

  .course-filter .sub .group .item {
    width: 100%;
  }

  .course-filter .sub .group .btn {
    width: 45%;
  }
}

@media (max-width: 292px) {
  .course-filter.active .sub {
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

  .course-filter .main {
    .btn-filter {
      font-size: 12px;
    }

    .btn-search {
      font-size: 12px;
    }
  }
}
